In [1]:
import pandas as pd
import numpy as np

In [30]:
df=pd.read_csv("heart.csv")

In [31]:
df

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [32]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [33]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

## Removing outliers

In [34]:
df[df['Cholesterol']>(df['Cholesterol'].mean()+3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [35]:
df1=df[df['Cholesterol']<=(df['Cholesterol'].mean()+3*df.Cholesterol.std())]

In [36]:
df1

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0
...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,M,TA,110,264,0,Normal,132,N,1.2,Flat,1
914,68,M,ASY,144,193,1,Normal,141,N,3.4,Flat,1
915,57,M,ASY,130,131,0,Normal,115,Y,1.2,Flat,1
916,57,F,ATA,130,236,0,LVH,174,N,0.0,Flat,1
917,38,M,NAP,138,175,0,Normal,173,N,0.0,Up,0

In [37]:
df1.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,915.000000,915.000000,915.000000,915.000000,915.000000,915.000000,915.000000
mean,53.519126,132.433880,197.597814,0.232787,136.804372,0.887432,0.553005
std,9.410666,18.529259,107.511650,0.422839,25.486556,1.067649,0.497454
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.000000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,222.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,266.500000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,518.000000,1.000000,202.000000,6.200000,1.000000

In [38]:
df[df['RestingBP']>(df['RestingBP'].mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [39]:
df1=df1[df1['RestingBP']<=(df1['RestingBP'].mean()+3*df1.RestingBP.std())]

In [40]:
df1.shape

(908, 12)

In [41]:
df1=df1[df1['Oldpeak']<=(df1['Oldpeak'].mean()+3*df1.Oldpeak.std())]

In [42]:
df1.shape

(902, 12)

## Label encoding

In [43]:
from sklearn.preprocessing import LabelEncoder

In [44]:
label=LabelEncoder()

In [47]:
df1['RestingECG']=label.fit_transform(df1.RestingECG)
df1['ExerciseAngina']=label.fit_transform(df1.ExerciseAngina)
df1['ST_Slope']=label.fit_transform(df1.ST_Slope)

## Onehot Encoding

In [51]:
df1=pd.get_dummies(df1,drop_first=True)
df1

,Age,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease,Sex_M,ChestPainType_ATA,ChestPainType_NAP,ChestPainType_TA
0,40,140,289,0,1,172,0,0.0,2,0,1,1,0,0
1,49,160,180,0,1,156,0,1.0,1,1,0,0,1,0
2,37,130,283,0,2,98,0,0.0,2,0,1,1,0,0
3,48,138,214,0,1,108,1,1.5,1,1,0,0,0,0
4,54,150,195,0,1,122,0,0.0,2,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,45,110,264,0,1,132,0,1.2,1,1,1,0,0,1
914,68,144,193,1,1,141,0,3.4,1,1,1,0,0,0
915,57,130,131,0,1,115,1,1.2,1,1,1,0,0,0
916,57,130,236,0,0,174,0,0.0,1,1,0,1,0,0
917,38,138,175,0,1,173,0,0.0,2,0,1,0,1,0

In [54]:
X=df1.drop("HeartDisease",axis=1)

In [55]:
y=df1.HeartDisease

## Scaling the input data

In [58]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()

X_scaled=scaler.fit_transform(X)

In [59]:
X_scaled

array([[-1.42896269,  0.46089071,  0.85238015, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-0.47545956,  1.5925728 , -0.16132855, ..., -0.4836591 ,
         1.86750159, -0.22914788],
       [-1.74679706, -0.10495034,  0.79657967, ...,  2.06757196,
        -0.53547478, -0.22914788],
       ...,
       [ 0.37209878, -0.10495034, -0.61703246, ..., -0.4836591 ,
        -0.53547478, -0.22914788],
       [ 0.37209878, -0.10495034,  0.35947592, ...,  2.06757196,
        -0.53547478, -0.22914788],
       [-1.64085227,  0.3477225 , -0.20782894, ..., -0.4836591 ,
         1.86750159, -0.22914788]])

In [60]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_scaled, y, test_size=0.2, random_state=20)

## Training standalone models and Bagging

In [64]:
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import GridSearchCV

In [68]:
svc=SVC()

x=cross_val_score(svc,X_scaled,y,cv=5)
x.mean()

0.8203499079189687

In [69]:
dt=DecisionTreeClassifier()

x=cross_val_score(dt,X_scaled,y,cv=5)
x.mean()

0.7326764886433395

In [70]:
from sklearn.ensemble import BaggingClassifier

In [72]:
bag_model = BaggingClassifier(base_estimator=svc, n_estimators=100, max_samples=0.8, random_state=0)
scores = cross_val_score(bag_model, X_scaled, y, cv=5)
scores.mean()

0.8214610190300797

In [73]:
bag_model = BaggingClassifier(base_estimator=dt, n_estimators=100, max_samples=0.8, random_state=0)
scores = cross_val_score(bag_model, X_scaled, y, cv=5)
scores.mean()

0.8059054634745243

In [74]:
parameters = {
    'n_estimators': [50,100,500], 
    'max_samples': [0.1,0.4,0.7,1.0],
    'bootstrap' : [True,False],
    'max_features' : [0.1,0.4,0.7,1.0]
    }

In [75]:
search=GridSearchCV(bag_model,parameters,cv=5)

In [82]:
search.fit(X_scaled,y)

GridSearchCV(cv=5,
             estimator=BaggingClassifier(base_estimator=DecisionTreeClassifier(),
                                         max_samples=0.8, n_estimators=100,
                                         random_state=0),
             param_grid={'bootstrap': [True, False],
                         'max_features': [0.1, 0.4, 0.7, 1.0],
                         'max_samples': [0.1, 0.4, 0.7, 1.0],
                         'n_estimators': [50, 100, 500]})

In [78]:
search.best_params_

{'bootstrap': True,
 'max_features': 0.4,
 'max_samples': 1.0,
 'n_estimators': 100}

In [79]:
search.best_score_

0.8436034376918355